@page
@model GHS.Pages.ProductOrders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Purchase</h2>
<hr />
<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModel.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModel.Price)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductOrderModel.ProductID" class="control-label"></label>
                <input asp-for="ProductOrderModel.ProductID" value="@Model.ProductModel.ProductId" class="form-control" />
                <span asp-validation-for="ProductOrderModel.ProductID" class="text-danger"></span>
                <label asp-for="ProductOrderModel.Quantity" class="control-label"></label>
                <input asp-for="ProductOrderModel.Quantity" class="form-control" />
                <span asp-validation-for="ProductOrderModel.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Purchase" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../../">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
