@page
@model GHS.Pages.ProductOrders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Order</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductModel[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductModel[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductModel[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrderModel[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductOrderModel) {
        <tr>
            <td>
                @Html.DisplayFor(model => model.ProductModel[item.ProductID - 1002].Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProductModel[item.ProductID - 1002].Category)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProductModel[item.ProductID - 1002].Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderProductId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderProductId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
